@media only screen and (min-width: 280px) and (max-width: 575px){
    .tree-img{
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }
    .title-text{
        margin-top: 150px;
    }
    .display-none{
        display: none;
    }
    .card-m{
        margin-top: -75px;
        width: 150px;
        height: 80px;
        margin-left: 150px;
    }
    .title-fr{
       
        font-style: 20px;
    }
    .inpute-from{
        width: 250px;
    }
    .search-btn{
        padding-left: 10px;
        margin-left: -50px;
        z-index: 1;
    }
    .input-data{
        padding: 10px;
        width: 250px;
    }
}